@mixin before_circle_fz16 {
    position: relative;
    padding: 1px 0 0 12px;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -17%;
        left: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $main-color;
    }
}

@mixin before_circle_fz14 {
    @include before_circle_fz16;
    &:before {
        top: -30%;
    }
}

@mixin before_circle_center {
    @include before_circle_fz16;
    padding: 0;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
}