@media (max-width:  1399.98px) {
    .container {
        max-width: 1040px;
    }
    .sidepanel {
        left: 30px;
    }
    .skills {
        &__percentages {
            margin-top: 100px;
        }
    }
    .portfolio {
        &__wrapper {
            column-gap: 10px;
            row-gap: 10px;
            .vertical, .horizontal {
                grid-column: unset;
                grid-row: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0 15px 0;
        }
    }
}

@media (max-width:  1199.98px) {
    .container {
        max-width: 932px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 400px 485px;
            column-gap: 40px;
        }
        &__spheres {
            grid-template-columns: 230px 230px;
            column-gap: 25px;
        }
        &__sphere {
            grid-template-columns: 40px 180px;
            column-gap: 10px;
        }
    }
    .resume {
        padding-top: 80px;
        &__wrapper {
            padding: 50px 15px 0;
        }
    }
    .skills {
        padding-top: 80px;
        &__table {
            margin: 40px 10px 0;
        }
        &__percentages {
            margin-top: 80px;
        }
    }
    .portfolio {
        padding-top: 80px;
    }
    .contacts {
        padding: 80px 0 60px 0;
        &__wrapper {
            padding: 0 0 0 25px;
            grid-template-columns: 340px 535px;
        }
        &__form {
            column-gap: 20px;
            grid-template-rows: 45px 175px 80px;
            row-gap: 20px;
            &-triggers {
                flex-wrap: wrap;
                #confirm {
                    margin: 0 5px 0 0;
                }
            }
            &-btn {
                order: 1;
                margin-top: 10px;
            }
        }
    }
}

@media (max-width:  991.98px) {
    .container {
        max-width: 708px;
    }
    .promo {
        .title_fz48 {
            font-size: 42px;
            line-height: 63px;
        }
    }
    .title {
        &_fz36 {
            font-size: 28px;
            line-height: 42px;
        }
    }
    .about {
        padding-top: 50px;
        &__wrapper {
            grid-template-columns: repeat(6, 100px);
            column-gap: 20px;
            grid-template-rows: 510px auto;
            row-gap: 20px;
        }
        &__photo {
            grid-column: 1 / 4;
            grid-row: 1;
        }
        &__content {
            grid-column: 4 / 7;
        }
        &__spheres {
            grid-row: 2;
            grid-column: 1 / 7;
            grid-template-columns: repeat(3, 220px);
            column-gap: 20px;
            grid-template-rows: none;
        }
        &__sphere {
            grid-template-columns: 40px 160px;
            column-gap: 20px;
        }
    }
    .resume {
        padding-top: 50px;
        &__wrapper {
            padding: 40px 5px 0;
            grid-template-columns: repeat(2,328px);
        }
    }
    .skills {
        padding-top: 50px;
        &__percentages {
            margin-top: 60px;
        }
    }
    .portfolio {
        padding-top: 50px;
        &__wrapper {
            padding-top: 50px;
        }
    }
    .prices {
        padding: 50px 50px 0;
        &__wrapper {
            margin-top: 30px;
            justify-content: center;
        }
    }
    .contacts {
        padding: 50px 0 30px 0;
        &__wrapper {
            padding: 0;
            grid-template-columns: 280px 405px;
        }
        &__form {
            grid-template-rows: 45px 110px 80px;
        }
    } 
}

@media (max-width:  767.98px) {
    .container {
        max-width: 546px;
    }
    .promo {
        background: url('../img/main_bg.jpg') 53%/cover no-repeat;
        .title_fz48 {
            font-size: 36px;
            line-height: 54px;
        }
    }
    .title {
        &_fz36 {
            font-size: 22px;
            line-height: 33px;
            margin-top: 15px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: repeat(6, 78px);
            column-gap: 15px;
            grid-template-rows: 400px auto;
            row-gap: 15px;
        }
        &__content {
            .divider_mt22 {
                margin: 12px 0 0;
            }
        }
        &__spheres {
            grid-template-columns: repeat(3, 167px);
        }
        &__sphere {
            grid-template-columns: 40px 117px;
            column-gap: 10px;
        }
    }
    .divider_mt22 {
        margin: 12px auto 0;
    }
    .resume {
        &__wrapper {
            padding: 30px 5px 0;
            grid-template-columns: 80%;
            row-gap: 40px;
            justify-content: center;
        }
    }
    .skills {
        &__table {
            margin: 20px 10px 0;
            row-gap: 20px;
        }
        &__percentages {
            margin-top: 40px;
        }
    }
    .contacts {
        &__photo {
            display: none;
        }
        &__wrapper {
            padding: 0 30px;
            grid-template-columns: unset;
            .divider_mt22 {
                margin: 12px 0 0;
            }
        }
    }
}

@media (max-width:  575.98px) {
    .container {
        max-width: 405px;
    }
    .promo {
        background: url('../img/main_bg.jpg') 59%/cover no-repeat;
        .title_fz48 {
            font-size: 30px;
            line-height: 45px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 400px;
            grid-template-rows: 600px auto auto;
            row-gap: 20px;
        }
        &__photo {
            grid-column: 1;
            grid-row: 1;
        }
        &__content {
            grid-column: 1;
            grid-row: 2;
        }
        &__spheres {
            grid-column: 1;
            grid-row: 3;
            grid-template-columns: 400px;
            grid-template-rows: repeat(3, auto);
            grid-auto-rows: auto;
        }
        &__sphere {
            grid-template-columns: 40px 345px;
            column-gap: 20px;
        }
    }
    .resume {
        padding-top: 40px;
    }
    .skills {
        padding-top: 40px;
    }
    .portfolio {
        padding-top: 40px;
        &__wrapper {
            padding-top: 40px;
        }
    }
    .prices {
        padding: 40px 30px 0;
        &__wrapper {
            margin-top: 20px;
        }
    }
    .contacts {
        padding: 40px 0 20px 0;
        &__wrapper {
            padding: 0 25px;
        }
    }
}

@media (max-width:  424.98px) {
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .container {
        max-width: calc(100% - 20px);
    }
    .promo {
        background: url('../img/main_bg.jpg') 58%/cover no-repeat;
        .title_fz48 {
            font-size: 26px;
            line-height: 39px;
        }
        &__btns {
            margin-top: 32px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px;
            grid-template-rows: 340px auto auto;
        }
        &__spheres {
            grid-template-columns: 300px;
        }
        &__sphere {
            grid-template-columns: 40px 235px;
        }
    }
    .prices {
        padding: 40px 0 0;
    }
    .contacts {
        &__wrapper {
            padding: 0;
        }
        &__form {
            grid-template-rows: 45px 110px 100px;
            &-triggers {
                justify-content: center;
            }
            &-confirmText {
                display: block;
                width: 180px;
            }
        }
    }
}