.prices {
    padding: 60px 50px 0;
    &__title {
        text-align: center;
        @include before_circle_center;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 370px));
        column-gap: 50px;
        grid-template-rows: repeat(3, minmax(45px, auto));
        row-gap: 15px;
        grid-auto-rows: minmax(45px, auto);
        justify-content: space-between;
    }
    &__item {
        display: grid;
        grid-template-columns: minmax(85px, 220px) minmax(90px, 125px);
        grid-template-rows: repeat(2, minmax(18px, auto));
        row-gap: 5px;
        justify-content: space-between;
        &-header {
            @include before_circle_prices
        }
        &-cost {
            text-align: right;
        }
        &-text {
            grid-column: 1 / 3;
            padding-left: 25px;
        }
    }
}