.promo {
    min-height: 100vh;
    padding-top: 206px;
    background: url('../img/main_bg.jpg') 50%/cover no-repeat;
    &__subtitle {
        @include before_circle_fz16;
    }
    &__title {
        margin-top: 9px;
    }
    &__btns {
        margin-top: 25px;
        width: 250px;
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        text-decoration: none;
        color: $text-color;
        padding: 12px 0;
    }
}