.skills {
    padding-top: 120px;
    &__title {
        text-align: center;
        @include before_circle_center;
    }
    &__subtitle {
        text-align: center;
    }
    &__table {
        margin: 60px 10px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, 270px);
        column-gap: 13px;
        grid-template-rows: repeat(2, minmax(270px, auto));
        row-gap: 13px;
        grid-auto-rows: minmax(270px, auto);
        &-item {
            border: 1px solid #000;
            padding: 30px 30px 25px;
        }
        &-img-wrapper {
            width: 100%;
            height: 65px;
            display: flex;
            justify-content: start;
            align-items: center;
        }
        &-img {
            max-height: 100%;
        }
        &-header {
            margin-top: 20px;
        }
        &-text {
            margin-top: 15px;
        }
    }
    &__percentages {
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 45px;
        grid-template-rows: 70px 70px;
        row-gap: 30px;
        grid-auto-rows: 70px;
        &-item {
            &-wrapper {
                display: flex;
                justify-content: space-between
            }
            &-header {
                @include before_circle_fz14;
            }
            &-range-base {
                margin-top: 27px;
                width: 100%;
                height: 14px;
                border-radius: 4px;
                background-color: #E8E4DE;
            }
            &-range {
                // the width is set by the script
                height: 100%;
                border-radius: 4px;
                background-color: $main-color;
            }
        }
    }
}